<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <title>BTTH 5</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <div class="left">
                <img src="../images/logo1.png" style="width:100px; margin: 0 20px" alt="Logo">
                <a href="" class="active">Home</a>
                <a href="">Promotions</a>
                <a href="">Best-sellers</a>
                <a href="">No-releases</a>
                <a href="">Support</a>
            </div>
            <div class="right">
                <div>
                    <input type="text" placeholder="Search..." style="border: none; font-size: 15px;">
                </div>
                <div>
                    <img src="../images/Bell 1.png" alt="bell">
                    <img src="../images/Shopping cart simple 1.png" alt="cart">
                    <img src="../images/Avatar 758.png" alt="">
                </div>

            </div>
        </div>
        <div class="content"></div>
        <div class="footer"></div>
    </div>
</body>

</html>