<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/0d0d9bdf04.js" crossorigin="anonymous"></script>    <title>BTTH 5</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <div class="left">
                <img src="../images/logo.png" style="width:100px; margin: 0 20px" alt="Logo">
                <a href="" class="active">Home</a>
                <a href="">Promotions</a>
                <a href="">Best-sellers</a>
                <a href="">No-releases</a>
                <a href="">Support</a>
            </div>
            <div class="right">
                <div>
                    <input type="text" placeholder="Search..." style="border: none; font-size: 15px;">
                </div>
                <div>
                    <img src="../images/Bell 1.png" alt="bell">
                    <img src="../images/Shopping cart simple 1.png" alt="cart">
                    <img src="../images/Avatar 758.png" alt="">
                </div>

            </div>
        </div>
        <div class="content">
            <div class="container">
                <a href="">Home </a> /
                <a href="">Category </a> /
                <a href="" class="active">Product title</a>
                <h2 style="font-size: 50px;line-height: 2px; margin: 40px 0; letter-spacing: -0.5px;">Product title</h2>

                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <img src="../images/Rating 303.png" width="100px" alt="" align="center"> <b>4.20</b> <span
                            style="color: grey;">(99 reviews) </span>
                    </div>
                    <div style="display: flex; align-items: center; justify-content: space-between; width: 150px;">
                        <div style="display: flex; align-items: center;"><img src="../images/Heart 23.png" width="16px"
                                alt="" style="margin-right: 6px;"> Share</div>
                        <div style="display: flex; align-items: center;"><img src="../images/Heart 23.png" width="16px"
                                alt="" style="margin-right: 6px;"> Save</div>
                    </div>
                </div>

                <div class="grid-image">
                    <div class="img1"><img src="../images/img1.png" alt=""></div>
                    <div class="img2"><img src="../images/img2.png" alt=""></div>
                    <div class="img3"><img src="../images/img3.png" alt=""></div>
                    <div class="img4"><img src="../images/img4.png" alt=""></div>
                    <div class="img5"><img src="../images/img5.png" alt=""></div>
                </div>
                <div class="flex-container">
                    <div class="left">
                        <h2>Product description</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi reiciendis ipsam
                            recusandae tenetur qui, velit, ducimus consequuntur temporibus doloribus officiis accusamus,
                            vero ex. Debitis illo sed molestiae est consequuntur
                            dolorum.
                            <br>
                            Convallis in semper laoreet nibh leo. Vivamus malesuada ipsum pulvinar non rutrum risus dui,
                            risus. Purus massa velit
                            iaculis tincidunt tortor, risus, scelerisque risus. In at lorem pellentesque orci aenean
                            dictum dignissim in. Aenean
                            pulvinar diam interdum ullamcorper. Vel urna, tortor, massa metus purus metus. Maecenas
                            mollis in velit auctor cursus
                            scelerisque eget.
                        </p>
                        <div class="grid-icon">
                            <div class="icon1"><img src="../images/Truck 1.png" alt=""><p>Free delivery</p></div>
                            <div class="icon2"><img src="../images/Arrow bend up left 1.png" alt=""><p>7 days return</p></div>
                            <div class="icon3"><img src="../images/Globe 1.png" alt=""><p>Made in USA</p></div>
                            <div class="icon4"><img src="../images/Medal 1.png" alt=""><p>2 years quanrantee</p></div>
                            <div class="icon5"><img src="../images/Chat dots 1.png" alt=""><p>100% authentic</p></div>
                            <div class="icon6"><img src="../images/Checks 1.png" alt=""><p>24/7 customer support</p></div>
                        </div>
                    </div>
                    <div class="right">
                        <h1 style="text-align: right; margin-top:0; color: rgb(22, 187, 187);">$99</h1>
                        <div class="drop"><span>Color</span> <i class="fa-solid fa-caret-down"></i></div>
                        <div class="drop"><span>Size</span> <i class="fa-solid fa-caret-down"></i></div>
                        <div class="drop"><span>3</span> <i class="fa-solid fa-caret-down"></i></div>
                        <div style="display: flex; justify-content: space-between; align-items: center;"><p style="opacity: 0.5">Total</p> <h4>$265</h4></div>
                        <div class="btn">Buy now</div>
                        <div class="add-cart"><i class="fa-solid fa-cart-shopping" style="margin-right:10px"></i>Add to cart</div>
                    </div>


                </div>
                <hr color="grey">
            </div>
        </div>
        <div class="footer"></div>
    </div>
</body>

</html>