<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index.css">
    <script src="https://kit.fontawesome.com/0d0d9bdf04.js" crossorigin="anonymous"></script>
    <title>BTTH 5</title>
</head>

<body>
    <div class="grid-container">
        <div class="header">
            <div class="left">
                <img src="../images/logo.png" style="width:95px; margin: 0 35px" alt="Logo">
                <a href="" class="active">Home</a>
                <a href="">Promotions</a>
                <a href="">Best-sellers</a>
                <a href="">New releases</a>
                <a href="">Support</a>
            </div>
            <div class="right">
                <div style="position: relative;">
                    <i class="fa fa-search" style="opacity: 0.5; position: absolute; left: 10px; top:10px"></i>
                    <input type="text" placeholder="Search..."
                        style="border: none; font-size: 15px; background-color: rgb(245, 245, 245); width: 300px; height:15px; padding: 10px 0 10px 30px; border-radius: 5px;">
                </div>
                <div style="display: flex; align-items: center;">
                    <img src="../images/Bell 1.png" alt="bell">
                    <img src="../images/Shopping cart simple 1.png" alt="cart">
                    <img src="../images/Avatar 758.png" alt="">
                </div>

            </div>
        </div>
        <div class="content">
            <div class="container">
                <a href="">Home </a> /
                <a href="">Category </a> /
                <a href="" class="active">Product title</a>
                <h2 style="font-size: 50px;line-height: 2px; margin: 40px 0; letter-spacing: -0.5px;">Product title</h2>
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <img src="../images/Rating 303.png" width="100px" alt="" align="center"> <b>4.20</b> <span
                            style="color: grey; margin-left: 1px; opacity: 0.7;"> {99 reviews} </span>
                    </div>
                    <div
                        style="display: flex; align-items: center; justify-content: space-between; width: 150px; padding: 0 20px;">

                        <div style="display: flex; align-items: center;"><img src="../images/Heart 23.png" width="16px"
                                alt="" style="margin-right: 10px;"> Share</div>
                        <div style="display: flex; align-items: center;"><img src="../images/Heart 23.png" width="16px"
                                alt="" style="margin-right: 10px;"> Save</div>
                    </div>
                </div>

                <div class="grid-image">
                    <div class="img1"><img src="../images/img1.png" alt=""></div>
                    <div class="img2"><img src="../images/img2.png" alt=""></div>
                    <div class="img3"><img src="../images/img3.png" alt=""></div>
                    <div class="img4"><img src="../images/img4.png" alt=""></div>
                    <div class="img5"><img src="../images/img5.png" alt=""></div>
                </div>
                <div class="flex-container">
                    <div class="left">
                        <h2>Product description</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi reiciendis ipsam
                            recusandae tenetur qui, velit, ducimus consequuntur temporibus doloribus officiis accusamus,
                            vero ex. Debitis illo sed molestiae est consequuntur
                            dolorum.
                            <br>
                            Convallis in semper laoreet nibh leo. Vivamus malesuada ipsum pulvinar non rutrum risus dui,
                            risus. Purus massa velit
                            iaculis tincidunt tortor, risus, scelerisque risus. In at lorem pellentesque orci aenean
                            dictum dignissim in. Aenean
                            pulvinar diam interdum ullamcorper. Vel urna, tortor, massa metus purus metus. Maecenas
                            mollis in velit auctor cursus
                            scelerisque eget.
                        </p>
                        <div class="grid-icon">
                            <div class="icon1"><img src="../images/Truck 1.png" alt="">
                                <p>Free delivery</p>
                            </div>
                            <div class="icon2"><img src="../images/Arrow bend up left 1.png" alt="">
                                <p>7 days return</p>
                            </div>
                            <div class="icon3"><img src="../images/Globe 1.png" alt="">
                                <p>Made in USA</p>
                            </div>
                            <div class="icon4"><img src="../images/Medal 1.png" alt="">
                                <p>2 years quanrantee</p>
                            </div>
                            <div class="icon5"><img src="../images/Chat dots 1.png" alt="">
                                <p>100% authentic</p>
                            </div>
                            <div class="icon6"><img src="../images/Checks 1.png" alt="">
                                <p>24/7 customer support</p>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <h1 style="text-align: right; margin-top:0; color: rgb(22, 187, 187);">$99</h1>
                        <div class="drop"><span>Color</span> <i class="fa-solid fa-caret-down"></i></div>
                        <div class="drop"><span>Size</span> <i class="fa-solid fa-caret-down"></i></div>
                        <div class="drop"><span>3</span> <i class="fa-solid fa-caret-down"></i></div>
                        <div style="display: flex; justify-content: space-between; align-items: center;">
                            <p style="opacity: 0.5">Total</p>
                            <h4>$265</h4>
                        </div>
                        <div class="btn">Buy now</div>
                        <div class="add-cart"><i class="fa-solid fa-cart-shopping" style="margin-right:10px"></i>Add to
                            cart</div>
                    </div>


                </div>
                <hr style="margin: 30px 0; opacity: 0.2;">
                <div style="display: flex; justify-content: space-between;">
                    <div style="display: flex; align-items: center;">
                        <h2>Reviews</h2>
                        <img src="../images/Rating 304.png" width="20px" alt="" align="center"
                            style="margin: 0 5px 0 8px;">
                        <b>4.20 </b> <span style="color: grey; margin-left: 5px;"> (99 reviews) </span>
                    </div>
                    <div style="display: flex; align-items: center;opacity: 0.4;">
                        <span>Show all reviews</span>
                        <i class="fas fa-greater-than" style="margin: 0 10px;"></i>
                    </div>
                </div>


                <div class="user-cmts">
                    <div class="user">
                        <div class="avt"><img src="../images/Avatar 753.png" alt=""></div>
                        <div class="name-rate">
                            <h5 style="margin:5px 0">Jay Rutherford <span
                                    style="font-size: 12px; opacity: 0.3; font-weight: 500; margin-left: 5px;">3d
                                    ago</span></h5>
                            <img src="../images/Rating 301.png" alt="">
                        </div>
                    </div>
                    <p>Nulla laboris fugiat fugiat minim minim excepteur eiusmod quis. Laborum est
                        minim id cillum nostrud cillum consectetur.
                       </p>
                </div>
                <div class="user-cmts">
                    <div class="user">
                        <div class="avt"><img src="../images/Avatar 756.png" alt=""></div>
                        <div class="name-rate">
                            <h5 style="margin:5px 0">Nicole Chung <span
                                    style="font-size: 12px; opacity: 0.3; font-weight: 500; margin-left: 5px;">3d
                                    ago</span></h5>
                            <img src="../images/Rating 318.png" alt="">
                        </div>
                    </div>
                    <p>Proident ullamco minim quis aliquip eiusmod in deserunt sit aliqua. Adipisicing
                        reprehenderit elit officia occaecat dolor.
                        </p>
                </div>
                <div class="user-cmts">
                    <div class="user">
                        <div class="avt"><img src="../images/Avatar 755.png" alt=""></div>
                        <div class="name-rate">
                            <h5 style="margin:5px 0">Wei Arnorld <span
                                    style="font-size: 12px; opacity: 0.3; font-weight: 500; margin-left: 5px;">3d
                                    ago</span></h5>
                            <img src="../images/Rating 317.png" alt="">
                        </div>
                    </div>
                    <p>Ut commodo quis sit in consequat sit nisi dolor adipisicing officia tempor do duis
                        consequat dolore dolore ipsum.
                        </p>
                </div>
                <div class="user-cmts">
                    <div class="user">
                        <div class="avt"><img src="../images/Avatar 757.png" alt=""></div>
                        <div class="name-rate">
                            <h5 style="margin:5px 0">Judith Mejia<span
                                    style="font-size: 12px; opacity: 0.3; font-weight: 500; margin-left: 5px;">3d
                                    ago</span></h5>
                            <img src="../images/Rating 299.png" alt="">
                        </div>
                    </div>
                    <p>Ad laborum dolor cupidatat culpa mollit non non sunt qui. In ut et aute mollit
                        eiusmod occaecat eiusmod mi.
                       </p>
                </div>

                <hr style="margin: 30px 0; opacity: 0.2;">
                <div style="display: flex; justify-content: space-between; ">
                    <div style="display: flex; align-items: center;">
                        <h2>Related products</h2>
                    </div>
                    <div style="display: flex; align-items: center; opacity: 0.4;">
                        <span>See more</span>
                        <i class="fas fa-greater-than" style="margin: 0 10px;"></i>
                    </div>
                </div>
                <div class="flex-card">
                    <div class="card">
                        <img src="../images/Image 1704.png" alt="">
                        <div style="margin: 10px 15px;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h3>Product title</h3>
                                <img src="../images/Heart 23.png" style="width: 25px;height: 25px;" alt="">
                            </div>
                            <h5 style="color: rgb(4, 191, 191); font-size: 14px; margin-top: 5px;">$230</h5>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <img src="../images/Rating 300.png" alt="" style="margin-top: 10px; width: 65px;">
                                <span style="font-size: 10px; opacity: 0.4;">1000 items sold</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../images/Image 1703.png" alt="">
                        <div style="margin: 10px 15px;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h3>Product title</h3>
                                <img src="../images/Heart 23.png" style="width: 25px;height: 25px;" alt="">
                            </div>
                            <h5 style="color: rgb(4, 191, 191); font-size: 14px; margin-top: 5px;">$230</h5>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <img src="../images/Rating 299.png" alt="" style="margin-top: 10px; width: 65px;">
                                <span style="font-size: 10px; opacity: 0.4;">765 items sold</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../images/Image 1711.png" alt="">
                        <div style="margin: 10px 15px;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h3>Product title</h3>
                                <img src="../images/Heart 23.png" style="width: 25px;height: 25px;" alt="">
                            </div>
                            <h5 style="color: rgb(4, 191, 191); font-size: 14px; margin-top: 5px;">$230</h5>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <img src="../images/Rating 317.png" alt="" style="margin-top: 10px; width: 65px;">
                                <span style="font-size: 10px; opacity: 0.4;">360 items sold</span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <img src="../images/Image 1712.png" alt="">
                        <div style="margin: 10px 15px;">
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <h3>Product title</h3>
                                <img src="../images/Heart 23.png" style="width: 25px;height: 25px;" alt="">
                            </div>
                            <h5 style="color: rgb(4, 191, 191); font-size: 14px; margin-top: 5px;">$230</h5>
                            <div style="display: flex; justify-content: space-between; align-items: center;">
                                <img src="../images/Rating 318.png" alt="" style="margin-top: 10px; width: 65px;">
                                <span style="font-size: 10px; opacity: 0.4;">234 items sold</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <img src="../images/logo.png" alt="Logo">
            <h2>Subscribe to our newletter</h2>
            <div class="email">
                <i class="fa-regular fa-envelope"></i>
                <input type="text" placeholder="Input your email">
                <button>Subscribe</button>
            </div>
            <div class="info">
                <div>
                    <h3>Product</h3>
                    <p>Features</p>
                    <p>Pricing</p>
                </div>
                <div>
                    <h3>Resources</h3>
                    <p>Blog</p>
                    <p>User guides</p>
                    <p>Webinars</p>
                </div>
                <div>
                    <h3>Company</h3>
                    <p>About us</p>
                    <p>Contact us</p>
                </div>
                <div>
                    <h3>Plan & Pricing</h3>
                    <p>Personal</p>
                    <p>Start up</p>
                    <p>Oganization</p>
                </div>
            </div>
            <div class="language">
                <p>English</p>
                <i class="fas fa-sort-down" style="line-height: 1.5;"></i>
            </div>
            <div class="coppyright">
                <i class="fa fa-copyright" aria-hidden="true"></i>
                2022 Brand, Inc <i class="fas fa-circle " style="font-size: 5px;"></i>
                Privacy <i class="fas fa-circle " style="font-size: 5px;"></i> Terms
                <i class="fas fa-circle " style="font-size: 5px;"></i> Sitemap
            </div>
            <div class="social">
                <img src="../images/Twitter 9.png" alt="twitter">
                <img src="../images/Facebook 9.png" alt="facebook">
                <img src="../images/LinkedIn 8.png" alt="linkin">
                <img src="../images/YouTube 8.png" alt="youtube">

            </div>
        </div>
    </div>
</body>

</html>